.container{
    .cabecalho{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo{
            margin-left: 35px;
        }
    
        .navegacao{
            display: flex;
            gap: 10px;
            margin-right: 35px;
        }
    }
    .linha{
        width: 95%;
        height: 4px;
        margin-left: 30px;
        background-color: #5C4742;
        display: flex;
        justify-content: center;
        border-radius: 15px;
    }
    .container-listar-agenda {
    .cabecalho {
        display: flex;
        justify-content: space-between;

        img {
            height: 60px;
            width: 70px;
        }
    }

    .lista-cartao {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;

        .cartao {
            background-color: #0A1128;
            padding: 8px;
            border-radius: 8px;
            width: 300px;
            h1 {
                
                color: #F0EDEE;
            }
            h4{
                color: #F0EDEE;
            }

            p {
                text-align: end;
                color: #F0EDEE;
            }
            .data{
                display: flex;
                justify-content: end;
                align-items: center;
                gap: 10px;
                margin-right: 5px;
            }

            h3 {
                color: #F0EDEE;
            }
            }
        }
    }
}
